// color
$color-primary : #1800B7;
$color-accent : #4B33ED;
$color-primaryNd : #002C85;
$color-accentNd : #00D4CD;

$color-000 : #000000;
$color-222 : #222222;
$color-444 : #444444;
$color-666 : #666666;
$color-888 : #888888;
$color-fff : #ffffff;

$color-bg : #4E79B333;

$color-primaryBg : #F8F9FC;
$color-primaryBgNd : #F1F3F9;
$color-gnbDim : #001A4FD6;
$color-dim : #00000061;
$color-dimNd : #00000099;

$color-default : #E2E2E2;
$color-medium : #CCCCCC;
$color-strong : #A0A0A0;

$color-ddd : #dddddd;
$color-d9d9d9 : #d9d9d9;
$color-aaa : #aaaaaa;
$color-72758B : #72758B;
$color-A2A5BC : #A2A5BC;


// 타이포
@mixin txt-80x {
    font-weight: 700;
    font-size: 8rem;
    line-height: 9.6rem;
}
@mixin txt-60x {
    font-weight: 700;
    font-size: 6rem;
    line-height: 8rem;
}
@mixin txt-48x {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 6.4rem;
}
@mixin txt-40x {
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.6rem;
}
@mixin txt-32x {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.2rem;
    letter-spacing: -0.02em;
}
@mixin txt-24x {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: -0.02em;
}
@mixin txt-20x {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.8rem;
}
@mixin txt-18x {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: -0.02em;
}
@mixin txt-16x {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
@mixin txt-14x {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

@mixin c-nameBox {
    display: flex;
    align-items: center;

    &-l {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.8rem;
        color: $color-444;
    }

    &-r {
        display: flex;
        align-items: center;
        @include txt-18x;
        color: $color-666;

        &::before {
            content: '';
            display: inline-block;
            width: 2px;
            height: 1.6rem;  
            background-color: $color-medium;
            margin: 0 1rem;
        }
    }
}


// 텍스트 필드
.txtField { 
    border: 1px solid $color-default;
    display: inline-flex;
    align-items: center;
    gap: 2.4rem;
    width: 100%;
    padding: 1.6rem 2.4rem;

    &.focus {
        border-color: $color-444;
    }
}
.tf {
    &-input {
        @include txt-18x;
        color: $color-444;
        flex-grow: 1;
        
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;

        border: none;
        outline: none;

        @include placeholder($color: #888); 
    
        &:focus {
            border: 1px soldi red
        }
    }

    &-btn {
        display: flex;
        align-items: center;
        gap: 2.4rem;
        
        button {
            width: 2.4rem;
            height: 2.4rem;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

    }

    &-delete {
        display: none;
        background: svgIcoTfDelte('909090'); background-size:100% 100%;
    }

    &-search {
        background: svgIcoTfSearch('000'); background-size:100% 100%;
        display: inline-block;
    }
}

// 공통 리스트
.clist {
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 2rem;
        border-bottom: 2px solid $color-444;

        &-right {
            justify-content: flex-end;
        }
    }

    &-infoNum {
        @include txt-16x;
        color: $color-444;

        strong {
            font-weight: 600;
            color: $color-primary;
        }
    }

    &-search {
        flex-basis: 38.4rem;
    }

    &-select {
        flex-basis: 28.2rem;
    }

    &-searchG {
        display: flex;
        justify-content: flex-end;
        gap: 2.4rem;
    }

    &-searchArea {
        flex-basis: 33.4rem;
        flex-shrink: 0;
    }
    &-selectArea {
        flex-basis: 26.8rem;
        flex-shrink: 0;
    }

    // 이미지 리스트
    &-img{
        width: 100%;
    }
    &-imgLi {
        border-bottom: 1px solid $color-default;
        @include transition(all, 0.3s, $cubicTxt);
    }

    // 텍스트 리스트
    &-txt{
        width: 100%;
    }
    &-txtLi {
        border-bottom: 1px solid $color-default;
        @include transition(all, 0.3s, $cubicTxt);
    }

    // 페이징 
    &-pagin {
        margin-top: 8rem;
        display: flex;
        justify-content: center;
    }
}
// 리스트 - 이미지
.imgLi {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 14rem;
    padding: 4rem;

    &-info {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        gap: 2.4rem;
        align-items: center;
    }

    &-img {
        flex-basis: 28.2rem;
        flex-shrink: 0;
        height: 19.6rem;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-txt {
        flex-grow: 1;
        text-align: left;

        strong {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            width: 100%;
            @include txt-24x;
            color: $color-222;
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            width: 100%;
            @include txt-18x;
            color: $color-666;
            min-height: 5.6rem;
            margin-top: 1.6rem;
            margin-bottom: 2rem;
        }

        .imgLi-date{
            @include txt-16x;
            color: $color-888;
        }
    }

    &-btn {
        flex-shrink: 0;
    }
}
// 리스트 - 텍스트
.txtLi {
    padding:3.2rem 6rem 3.2rem 4rem;
    display: flex;
    align-items: center;
    gap: 5rem;

    &-num {
        flex-shrink: 0;
        width: 4rem;
        text-align: center;
        @include txt-18x;
        color: $color-888;
    }
    &-name {
        flex-grow: 1;
        flex-shrink: 1;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.8rem;
    }
    &-file {
        flex-shrink: 0;
        width: 5.4rem;
        height: 2.4rem;
        text-align: center;
        i {
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
        }
    }
    &-date {
        flex-shrink: 0;
        width: 12rem;
        @include txt-18x;
        text-align: center;
        color: $color-888;
    }
    &-ico {
        flex-shrink: 0;
        width: 3.9rem;
        text-align: right;
        i{
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;

            &.ico-arrowR{
                background: svgIcoArrowR('A0A0A0'); 
                background-size:100% 100%;
            }
        }
    }
    &-down{
        flex-shrink: 0;
        width: 5.9rem;
        text-align: right;
    }
}

// 페이징 
.cpagin {
    display: flex;
    align-items: center;
    gap: 1.6rem;


    > a {    text-indent: -9999px;
    }
    a {
        display: inline-block;
        width: 4rem;
        height: 4rem;
    }
    &-list {
        display: flex;
        gap: 1.6rem;
        align-items: center;
    }
    &-num {
        text-align: center;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 4rem;
        color: $color-222;

        &.on {
            background-color: $color-accent;
            color: $color-fff;
        }
    }
    &-first {
        width:40px;
        height:40px;
        background-position: center;
        background: svgIcoPaginf('444') center no-repeat;
        background-size: 24px 24px;

        &.disable{
            background: svgIcoPaginf('A0A0A0') center no-repeat;
            background-size: 24px 24px;
        }
    }
    &-prev {
        width:40px;
        height:40px;
        background-position: center;
        background: svgIcoPaginpre('444') center no-repeat;
        background-size: 24px 24px;

        &.disable{
            background: svgIcoPaginpre('A0A0A0') center no-repeat;
            background-size: 24px 24px;
        }
    }
    &-next {
        width:40px;
        height:40px;
        background-position: center;
        background: svgIcoPaginnext('444') center no-repeat;
        background-size: 24px 24px;

        &.disable{
            background: svgIcoPaginnext('A0A0A0') center no-repeat;
            background-size: 24px 24px;
        }
    }
    &-last {
        width:40px;
        height:40px;
        background-position: center;
        background: svgIcoPaginlast('444') center no-repeat;
        background-size: 24px 24px;

        &.disable{
            background: svgIcoPaginlast('A0A0A0') center no-repeat;
            background-size: 24px 24px;
        }
    }
}

// 뷰페이지
.viewCont{
    padding: 4rem 0;
    border-bottom: 1px solid $color-default;

    &-nav {
        padding-top: 3.2rem;
    }
    &-page {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
    &-prev {
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        @include txt-20x;
        color: $color-444;

        &::before {
            content: '';
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            background: svgIcoArrowL('444') 100%;
        }

        &.disable {
            color: $color-888;
            pointer-events: none;
            &::before {
                background: svgIcoArrowL('888') 100%;
            }
        }
    }
    &-next {
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        @include txt-20x;
        color: $color-444;

        &::after {
            content: '';
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            background: svgIcoArrowR('444') 100%;
            background-repeat: no-repeat;
        }        

        &.disable {
            color: $color-888;
            pointer-events: none;
            &::after {
                background: svgIcoArrowR('888') 100%;
                background-repeat: no-repeat;
            }
        }
    }
    &-gotoList {
        text-align: center;
    }
    &-download {
        margin-top: 8rem;
    }
}
.galleryCont {
    &-tit {
        display: flex;
        width: calc(100% - 4rem);
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        gap: 2.4rem;
        margin-bottom: 3.2rem;
    }
    &-titIco {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background: #fff svgIcoGallery() no-repeat center ; 

        &.scholarship {
            background: #fff svgIcoScholarship2() no-repeat center ; 
        }
        &.award {
            background: #fff svgIcoAward() no-repeat center ; 
        }
        &.award2 {
            background: #fff svgIcoAward2() no-repeat center ; 
        }
        &.resident {
            background: #fff svgIcoResident() no-repeat center ; 
        }
        &.books {
            background: #fff svgIcoBooks() no-repeat center ; 
        }
        &.writing{
            background: #fff svgIcoWriting() no-repeat center ; 
        }

        &.g {
            background-color: $color-primaryBgNd;
        }
    }
    &-titG {
        span {
            display: block;
            @include txt-16x;
            color: $color-primaryNd;
        }
        strong {
            @include txt-32x;
        }
    }
}
.gallerySlide {
    height: calc(100vw / 3);

    &-li {
        position: relative;
        scale: 0.75;
        @include transition(all, 0.5s, $cubicTxt);
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0 , 0.58);
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.swiper-slide-active {
            scale: 1;
            &::after {
                background-color: rgba(0, 0, 0 , 0);
            }
        }
    }
    &-wrap {
        position: relative;
    }
    &-nav {
        width: calc(100% - 33.3vw);
        max-width: 1200px;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
    &-prev {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%);
    }
    &-next {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-50%);
    }
}
.downCont{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    padding: 2.2rem 4rem;
    background-color: $color-primaryBg;

    &-linkWrap {
        display: flex;
        align-items: center;
        flex-shrink: 1;
        flex-basis: 100%;
        gap: 4rem;
    }
    &-cate {
        flex-shrink: 0;
        @include txt-20x;
    }
    &-tit {
        flex-shrink: 1;
        flex-basis: 100%;
        @include txt-18x;
        line-height: 5rem;
        overflow: hidden;   
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &-btn{
        flex-shrink: 0;
        justify-self: flex-end;
    }
}

.subCText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;

    strong {
        @include txt-40x;
        letter-spacing: -0.04em;
        color: $color-222;

        em {
            color: $color-primaryNd
        }
    }

    p {
        @include txt-18x;
        color: $color-666;
    }
}

.purposeCont {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    &-tit {
        @include txt-32x; 
    }
    &-list {
        display: flex;
        gap: 2.4rem;
    } 
    &-li {
        background-color: $color-fff;
        flex-basis: 100%;
        padding: 4rem 4rem 3.6rem;
    }
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3.2rem;
    }
    &-tGroup {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    &-name {
        @include txt-24x;
        color: $color-222;
        padding-bottom: 0.5rem;
    }
    &-eng {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: -0.02em;
        color: $color-primaryNd;
    }
    &-ico {
        width: 7.2rem;
        height: 7.2rem;
    }
    &-txt {
        @include txt-18x;
    }
}

.withPCont {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 4rem;
    row-gap: 12rem;
    margin-top: 3rem;

    &-tit {
        @include txt-40x;   
        letter-spacing: -0.04em;
    }

    &-li {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    &-img {
        max-width: 26.4rem;
        max-height: 26.4rem;
        width: 100%;

        background-color: $color-primaryBgNd;

        position: relative;

        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        img {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &-txtArea {
        width: 100%;
        text-align: left;
    }

    &-position {
        display: block;
        @include txt-16x;
        margin-bottom: 0.8rem;
        color: $color-primary;
    }

    &-name {
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 4.2rem;
        letter-spacing: -0.02em;
        color: $color-222;
    }

    &-occupation {
        margin-top: 1.6rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        span {
            @include txt-18x;
            color: $color-666;

            &:not(:first-of-type)::before {
                content: '';
                display: inline-block;
                width: 2px;
                height: 1.8rem;
                background-color: $color-medium;
                margin: 0 1rem;
                vertical-align:middle;
                transform: translateY(-1px);
            }
        }
    }
}

.sub-withP {
    margin-bottom: 14rem;

    &:last-of-type {
        margin-bottom: 0;
    }

    &:first-of-type {
        .withPCont-li {
            transition-delay: 0.6s !important;
        }
    }
}

.incorporation{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &-cont {
        width: 100%;
    }
}

.tabCont {
    &-swipArea {
        width: 100%;
        position: relative;
        padding-top: 17rem;
    }
    &-swipBox {
        width: 100%;
        height: 9rem;
        position: absolute;
        top: 0;
        @include transition(top, 0.4s, ease);
        background-color: $color-fff;
        z-index: 15;

        &.fix {
            position: fixed;
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
            background-color: $color-fff;
    

            .tabCont-swip{
                border-bottom: none;
            }
        }

        &.up {
            top: 10rem;
        }
    }
    &-swip {
        width: calc(100% - 4rem);
        border-bottom: 2px solid $color-default;
        max-width: 1200px;
        height: 9rem;
        margin: 0 auto;
        overflow: hidden;
        box-sizing: content-box;
    }
    &-swipLi {
        width: 24rem;
    }
    &-btn {
        display: block;
        width: 100%;
        height: 9rem;
        line-height: 9rem;
        text-align: center;
        font-weight: 500;
        font-size: 2rem;
        color: $color-666;
        position: relative;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            display: none;
            width: 100%;
            height: 4px;
            bottom: -1px;
            background-color: $color-accent;
            z-index: 5;
        }

        &.on{
            font-weight: 700;
            color: $color-accent;

            &::after {
                display: block;
            }
        }
    }
}

.subHistory{
    overflow: hidden;
    &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14rem;
    }
    &-box {
        width: 100%;
    }
    &-tit {
        text-align: center;
        margin-bottom: 3.2rem;
        span {
            display: block;
            @include txt-16x;
            color: $color-888; 
        }
        strong {
            @include txt-60x;
            color: $color-222;
        }
    }
    &-contG {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #EEEEEE;
        }
    }
    &-cont {
        width: 50%;
        margin-bottom: 2.6rem;

        strong {
            display: block;
            @include txt-24x;
            color: $color-primaryNd;
            margin-bottom: 1.6rem;
        }

        li {
            @include txt-18x;
            color: $color-666;
            position: relative;

            &:not(:last-of-type){
                margin-bottom: 1rem;
            }
        }

        &:not(.even) {
            padding-right: 4.8rem;
            text-align: right;
            margin-right: auto;


            li{
                padding-right: 1rem;
                &::after {
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: $color-medium;
                    vertical-align: middle;
                    position: absolute;
                    right: 0;
                    top: 1.2rem;
                }
            }
        }

        &.even {
            padding-left: 4.8rem;
            text-align: left;
            margin-left: auto;

            li{
                padding-left: 1rem;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: $color-medium;
                    vertical-align: middle;
                    position: absolute;
                    left: 0;
                    top: 1.2rem;
                }
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.ceoCont{
    &-wrap {
        display: flex;
        align-items: flex-start;
        position: relative;
        gap: 10.2rem;
    }

    &-txt {
        margin-top: 4.8rem;
        @include txt-18x;
        max-width: 64.4rem;
        color: $color-444;

        strong {
            font-weight: 500;
            color: $color-222;
        }
    }

    &-img {
        flex-basis: 44.5%;
        flex-shrink: 1;
        bottom: -13.4rem;
        right: 0;

        img {
            width: 100%;
        }
    }

    &-textBox {
        flex-basis: 55.5%;
        flex-shrink: 1;

    }
}

.ceoName{
    padding-top: 2.8rem;
    display: flex;
    justify-items: flex-start;
    align-items: flex-end;

    &-txt {
        display: flex;
        align-items: center;
    }

    &-name {
        display: inline-flex;
        align-items: center;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.8rem;

        &::after {
            content: '';
            display: block;
            width: 2px;
            height: 1.6rem;
            background-color: $color-medium;
            margin: 0 1rem;
        }
    }

    &-sign {
        display: block;
        width:15rem;
        margin-left: 3.3rem;
    }

    &-position {
        @include txt-18x;
        color: $color-666;
    }
}

.ciIntro {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 9.4rem;
    align-items: center;

    &-logoHorizon {
        flex-basis:375px; 
        flex-shrink: 0;
        height:320px; 
        background: svgLogohorizon('1D2087'); 
        background-size:100% 100%;
        transform: translateY(100%); 
        opacity: 0; 

        animation: 0.7s 1.2s subVisImg forwards $cubicTxt;
    
        @keyframes subVisImg {
            0% { transform: translateY(30%); opacity: 0; }
            100% { transform: translateX(0); opacity: 1; }
        }
    }

    &-txt {
        flex-basis: 100%;
        flex-shrink: 1;
        transform: translateY(100%); 
        opacity: 0; 

        animation: 0.7s 1.5s subVisImg forwards $cubicTxt;
    
        @keyframes subVisImg {
            0% { transform: translateY(30%); opacity: 0; }
            100% { transform: translateX(0); opacity: 1; }
        }

        strong {
            display: block;
            @include txt-40x;
            letter-spacing: -0.02em;
            color: $color-222;
            margin-bottom: 3.2rem;
        }

        p {
            display: block;
            @include txt-18x;
            margin-bottom: 5.6rem;
        }
    }
}

.ciWrap{
    max-width: 100vw;
    overflow: hidden;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $color-fff;

        animation: 0.7s 0.7s subVis forwards ease;
    
        @keyframes subVis {
            0% { width: 100%; }
            100% { width: 0%; }
        }
    }
}

.ciCont{
    &-tit {
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        padding-bottom: 1.6rem;
        margin-bottom: 8rem;
        border-bottom: 2px solid $color-444;

        strong {
            @include txt-32x;

            &.em {
                color: $color-primary;
            }
        }

        span {
            @include txt-16x;
            color: $color-888;
            padding-bottom: 4px;
        }
    }

    &-text{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 1.6rem;
        margin-bottom: 2rem;

        strong {
            @include txt-24x;
            color: $color-222;
        }

        span {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $color-444;
        }

        &.colum {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 6rem;
        }
    }

    &-box {
        margin-bottom: 18rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.ciMotive {

    &-text {
        display: block;
        @include txt-32x;
        font-weight: 600;
        text-align: center;
    }

    &-imgBox {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        margin-top: 10rem;
        background-color: #FAFAFA;
        padding: 9.8rem 8rem;
    }

    &-imgGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $color-medium;

            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
        }
    }

    &-img {
        display: flex;
        flex-basis: 41.5%;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        background-color: #DCE4F0;
        border: 4rem solid $color-primaryBgNd;
        border-radius: 50%;

        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        &-s {
            display: flex;
            flex-basis: 23.2%;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            border: 1px solid $color-medium;
            background-color: $color-fff;
            position: relative;
            border-radius: 50%;

            &::after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                &.img-s {
                    width: 41.2%;
                }
                &.img-pillar {
                    width: 53.6%;
                }
            }
        }
    }

    &-ico {
        display: block;
        width: 68%;
        background-color: #1D2088;
        border-radius: 50%;
        position: relative;

        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        i {
            display: block;
            width: 44%;
            height: 44%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: svgLogosymbol('fff');
            background-size:100% 100%;
        }
    }

    &-symbolGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 4rem;
    }

    &-symbol {
        flex-basis: 1;

        img {
            width: 100%;
        }
    }

    &-plus {
        width:44px;
        height:44px;
        background: svgIcoPlus2('ccc');
        background-size:100% 100%;
    }

    // &-symbol {
    //     &-top {
    //         display: flex;
    //         align-items: center;
    //     }
    // }
}

.ciUsage {
    &-box {
        margin-bottom: 14rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.ciBi {
    display: flex;
    background-color: #FAFAFA;
    padding: 6rem;
    gap: 8rem;

    &-typeBox {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        flex-basis: calc(100% / 3);
        flex-shrink: 1;
    }

    &-ico { 
        width: 100%;
        position: relative;

        &::after {
            content: '';
            display: block;
            padding-bottom: 85%;
        }

        i {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    &-type {
        display: block;
        text-align: center;
        
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.8rem;

        color: $color-444;
    }
}

.ciIdentifier {
    padding: 4rem;
    background-color: #FAFAFA;

    img {
        width: 100%;
    }
}

.ciIncorrect{
    
    &-type {
        @include txt-20x;
        color: $color-444;
    }

    &-imgGroup {
        display: flex;
    }
    &-imgBox {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        img {
            display: block;
            width: 100%;
        }

        margin-bottom: 4rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &-txtG {
        display: flex;
        align-items: flex-start;
        margin-top: 1.6rem;
    }
    &-ex {
        flex-basis: 100%;
        flex-shrink: 1;
        text-align: center;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $color-666;
        word-break: keep-all;
        padding: 0 1rem;
    }
}

.ciColor{
    display: flex;

    &-box {
        display: flex;
        flex-direction: column;    
        gap: 10rem;
        align-items: flex-start;
        flex-shrink: 1;
        flex-basis: 100%;
        padding: 2rem;

        &.blue {
            background-color: #182088;
            color: $color-fff;
        }

        &.gold {
            background-color: #C9A063;
            color: $color-fff;
        }

        &.white {
            background-color: $color-fff;
            color: #182088;
            border: 1px solid $color-default
        }
    }

    &-colorName {
        @include txt-16x;
    }

    &-color {
        display: flex;
        gap: 2rem;
        align-items: flex-end;
    }

    &-value {
        display: flex;
        flex-direction: column;    
        align-items: flex-start;
        min-width: 5rem;
    }
    &-valueCont{
        @include txt-16x;
        font-weight: 400;
    }
}

.ciCB {
    width: 100%;
    margin-top: 4rem;

    img {
        width: 100%;
    }
}

.ciType{
    &-box {
        padding: 6rem 6rem 6.2rem;
        background-color: #FAFAFA;
        margin-bottom: 2rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &-lng {
        @include txt-20x;
        color: $color-primaryNd;
    }
    &-fontG {
        margin-top: 2.4rem;

        &:first-of-type {
            margin-top: 3rem;
        }

        span {
            display: block;
            margin-bottom: 1.6rem;
            @include txt-16x;
            color: $color-666;
        }

        img {
            display: block;
            width: 100%;
        }
    }
}

.ciGuide {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12rem;
    padding: 6rem;
    background-color: #FAFAFA;

    &-box {
        flex-basis: 100%;
        flex-shrink: 1;
    }

    &-tit {
        display: flex;
        align-items: flex-end;
        gap: 0.8rem;
        margin-bottom: 3rem;
    }

    &-titEng {
        @include txt-24x;
        color: $color-222;
    }

    &-titKo {
        @include txt-16x;
        color: $color-888;
    }

    &-img {
        margin-bottom: 2.2rem;

        img { 
            display: block;
        }

        .guide-system {
            margin: 0 auto;
            padding: 1.3rem 0;
            width: calc(100% - 12.4rem);
        }

        .guide-space {
            margin: 0 auto;
            width: calc(100% - 5.2rem);
        }
    }

    &-txt {
        @include txt-18x;
        color: $color-444;

        word-break: keep-all;
    }
}

.locationCont {
    display: flex;
    gap: 10rem;

    &-map {
        flex-basis: 59.5%;
        flex-shrink: 1;

        transition-delay: 0.7s !important;

        .root_daum_roughmap{
            width: 100%;
            height: 100%;
        
            .wrap_map {
                height: 100%;
            }

            .wrap_btn_zoom {
                height: auto;
                top: auto;
                bottom: 3rem;
            }
        }
        
        .wrap_controllers {
            display: none;
        }

        .map_border {
            display: none;
        }
    }

    &-txt {
        flex-basis: 40.5%;
        flex-shrink: 1;

        transition-delay: 0.7s !important;
    }

    &-txtBox {
        &:not(:first-of-type) {
            margin-top: 3.3rem;
        }
    }

    &-tit {
        display: block;
        margin-bottom: 1.6rem;
        @include txt-32x;
        color: $color-222;
    }

    &-group {
        display: flex;
        gap: 4.8rem;

        &:not(:first-of-type) {
            margin-top: 6rem;
        }

        &.column {
            flex-direction: column;
        }
    }

    &-dl {
        dt {
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.8rem;

            color: $color-444;
            margin-bottom: 1.6rem;
        }

        dd {
            display: flex;
            align-items: center;
            @include txt-18x;
            color: $color-666;

            .traffic {
                display: block;
                line-height: 2.6rem;
                height: 2.6rem;
                font-weight: 500;
                font-size: 1.5rem;
                padding: 0 1rem;
                border-radius: 2rem;
                margin-right: 1.4rem;
                color: $color-fff;

                &.line1 {
                    background-color: #263C96;
                }
                &.line2 {
                    background-color: #3AB449;
                }
                &.bus1 {
                    background-color: #2871C0;
                }
                &.bus2 {
                    background-color: #51B333;
                }
                &.bus3 {
                    background-color: #E0121A;
                }
                &.bus4 {
                    background-color: #70AFDF;
                }
            }

            &.row {
                display: inline-flex;
            }

            &:not(:last-of-type) {
                margin-bottom: 0.8rem;
            }
        }

        .ddG {
            display: flex;
            gap: 3.2rem;
            margin-bottom: 3.2rem;

            dd {
                margin-bottom: 0;
            }
        }

        &.column dd {
            display: inline-flex;
        }
    }

    &-ex {
        display: inline-flex;
        align-items: center;
        gap: 0.8rem;
        margin-bottom: 1.2rem;
        &::before {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $color-medium;
        }
    }
}

.error-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
}

.errorCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        background-color: $color-primaryBgNd;

        i {
            display: block;
            width: 8.4rem;
            height: 8.4rem;
        }
    }

    &-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;

        margin: 4rem auto 8rem;

        strong {
            @include txt-32x;
        }

        p {
            @include txt-18x;
            color: $color-666;
        }
    }

    &-timeBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.4rem;
        padding: 4rem 8rem;
        background-color: $color-primaryBg;
    }

    &-timeWrap {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            @include txt-16x;
            color: $color-primaryNd;
        }
    }

    &-date {
        display: inline-flex;
        align-items: center;
        &::after {
            content: '';
            display: inline-block;
            width: 2px;
            height: 1.4rem;
            margin: 0 1.2rem;
            background-color: $color-medium;
        }
        &::before {
            content: '';
            display: inline-block;
            width:2.4rem; 
            height:2.4rem; 
            margin-right: 4px;
            background: svgIcoCalener('444'); 
            background-size:100% 100%;
        }
    }

    &-announce {
        @include txt-18x;
        color: $color-444;
    }

    &-btnArea {
        margin-bottom: 4rem;
    }
}

.popAlert {
    display: flex;
    width: 48rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3.2rem 4rem;
    background-color: $color-fff;

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 10rem;
        background-color: #F8F8F8;
        border-radius: 50%;
        margin-bottom: 2.4rem;

        i {
            width: 5.6rem;
            height: 5.6rem;
        }
    }

    &-text {
        min-height: 6.4rem;
        text-align: center;

        span {
            @include txt-24x;
        }
    }

    &-btnWrap {
        width: 100%;
        margin-top: 4rem;

        .btn-t{
            width: 100%;
        }
    }
}

.popBanner {
    width: calc(100vw - 4rem);
    max-width: 50rem;
    max-height: calc(100vh - 4rem);
    background-color: #002C85 ;

    &-btnG {
        display: flex;
        height: 5.6rem;
    }
    &-today {
        flex-basis: 50%;
        border: none;
        @include txt-16x;
        background-color: $color-medium;

        cursor: pointer;
    }
    &-close {
        flex-basis: 50%;
        border: none;
        @include txt-16x;
        background-color: $color-accent;
        color: $color-fff;

        cursor: pointer;
    }
}

.scholarT {
    display: block;

    &-titBox {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        margin: 14rem auto 2rem;

        strong {
            @include txt-32x;
            color: $color-222;
        }
    }

    &-unit {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $color-444;
    }

    &-tableWrap {
        width: 100%;
        border-top: 2px solid $color-444;
        border-bottom: 1px solid $color-strong;
    }

    &-table {
        width: 100%;

        thead {
            background-color: $color-primaryBg;

            tr th {
                padding: 2rem 0;
                @include txt-16x;
                color: $color-444;

                &:first-of-type {
                    padding-left: 1rem;
                }
                &:last-of-type {
                    text-align: end;
                    padding-right: 6rem;
                }
            }
        }

        tbody {
            tr {
                td {
                    text-align: center;
                    padding: 1rem 0 1.2rem;
                    @include txt-18x;
                    color: $color-666;

                    &:first-of-type {
                        padding-left: 1rem;
                    }

                    &:last-of-type {
                        text-align: end;
                        padding-right: 6rem;
                    }
                }

                &.last {
                    td {
                        padding-bottom: 2rem;
                    }
                }
                
                &.total {
                    td {
                        background-color: $color-primaryBg;
                        padding: 2rem 0;

                        &:first-of-type {
                            padding-left: 1rem;
                        }
    
                        &:last-of-type {
                            padding-right: 6rem;
                        }
                    }
                }

                &:first-of-type td {
                    padding-top: 2rem;
                }
            }
        }
    }
}

.awardSlide {
    overflow: hidden;

    &-group {
        width: calc(100% - 4rem);
        max-width: 132.8rem;
        margin: 0 auto;
        padding: 0 6.4rem;
        position: relative;
    }

    &-li {
        padding: 0 4rem;
        text-align: center;
    }

    &-box {
        display: inline-block;
    }

    &-img {
        width: 100%;
        max-width: 30rem;

        img {
            width: 100%;
        }
    }

    &-txt {
        margin-top: 3.2rem;
    }

    &-name {
        @include c-nameBox;
        justify-content: flex-start;
        margin-top: 1.6rem;

        &:first-of-type {
            margin-top: 0;
        }
    }

    &-nav {
        width: 100%;;
        position: absolute;
        top: 50%;
        left: 0
    }
}

.cTab {
    &-btnG {
        display: flex;
        width: 100%;
        margin-bottom: 8rem;
        border-bottom: 2px solid $color-default;
    }

    &-btn {
        flex-basis: 100%;
        flex-shrink: 1;
        font-weight: 500;
        font-size: 2rem;
        line-height: 9.2rem;
        background-color: transparent;
        border: none;
        color: $color-666;
        position: relative;
        cursor: pointer;

        &.on {
            font-weight: 700;
            color: $color-accent;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 4px;
                background-color: $color-accent;
                position: absolute;
                bottom: -2px;
            }
        }
    }
}

.awardCont {
    &-fix {
        width: calc(100% - 4rem);
        max-width: 1200px;
        margin: 0 auto;
    }
}

.awardFix {
    display: flex;
    width: 100%;

    &-img {
        display: flex;
        align-items: center;
        flex-basis: 40.5%;
        flex-shrink: 1;
        background-color: $color-fff;

        img {
            width: 100%;
            height: 100%;
            max-height: 70rem;
            object-fit: cover;
        }
    }

    &-txt {
        flex-basis: 50.5%;
        flex-shrink: 1;
        flex-grow: 1;
        background-color: $color-fff;
        padding: 6rem 8rem;
    }

    &-titBox {
        padding: 0 0 2.4rem 2rem;
        border-bottom: 1px solid $color-medium;
    }

    &-stit {
        display: block;
        @include txt-16x;
        color: $color-primary;
        margin-bottom: 1rem;
    }

    &-tit {
        @include txt-24x;
        color: $color-222;
        word-break: keep-all;
    }

    &-name {
        margin-top: 3.2rem;

        @include c-nameBox;
        justify-content: flex-start;
    }

    &-career {
        padding: 2.5rem 0 2.6rem 2rem;
        border-bottom: 1px solid $color-default;

        &:last-of-type {
            padding-bottom: 0;
            border-bottom: none;
        }

        &.w-200x {
          .awardFix-careerBox {
            gap: 3.8rem;
          }  
          .awardFix-date {
            flex-basis: 20rem;
          }
        }
    }

    &-careerTit {
        display: block;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.6rem;
        letter-spacing: -0.02em;
        color: $color-primaryNd;
        margin-bottom: 0.8rem;
    }

    &-careerBox {
        margin-top: 2px;
        display: flex;
        align-items: center;
        gap: 4px;

        &:first-child {
            margin-top: 0;
        }
    }

    &-date {
        flex-basis: 13rem;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding-left: 1.2rem;
        position: relative;

        color: $color-444;

        &::before {
            content: '';
            display: block;
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 50%;
            background-color: $color-medium;
            position: absolute;
            top: calc(50% - 0.2rem);
            left: 0;
        }
    }

    &-cont {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $color-666;
    }
}

.awardCS{
    &-area {
        width: calc(100% - 4rem);
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    &-slide {
        width: 23.5%;
    }

    &-wrap {
        width: 100% !important;
        align-items: flex-end;
    }

    &-imgG {
        flex-basis: 100%;
        flex-shrink: 1;
        position: relative;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            @include transition(filter, 0.3s, $cubicTxt);
            z-index: 1;
        }

        span {
            position: absolute;
            bottom: 2.4rem;
            left: 2.4rem;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.8rem;
            color: $color-fff;
            z-index: 2;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(0, 0, 0, 0.32);
            position: absolute;
            top: 0;
            left: 0;
            @include transition(all, 0.6s, $cubicTxt);
        }
    }

    &-txtWrap {
        flex-shrink: 1;
        flex-basis: 0%;
        padding: 0rem;
        padding-bottom: 0;
        background-color: $color-fff;
        overflow: hidden;
        opacity: 0;
        @include transition(all, 0.6s, $cubicTxt);
    }

    &-txt {
        opacity: 0;
        transform: translateY(3rem);
        transition: 0s;
        transition-delay: 0s;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &-li {
        display: flex;
        &.swiper-slide {
            width: 100% !important;
            height: 32.1rem;

            &.swiper-slide-active {
                width: 317% !important;
                height: 43.8rem;
                .awardCS-txtWrap{
                    display: block;
                    flex-basis: 57%;
                    opacity: 1;
                    padding: 6rem 4.4rem 6rem 6rem;
                }
                .awardCS-txt {
                    opacity: 1;
                    transform: translateY(0);
                    @include transition(all, 0.6s, $cubicTxt);
                    transition-delay: 0.5s;
                }
                .awardCS-imgG {
                    flex-basis: 43%;

                    img {
                        filter: grayscale(0%);
                    }

                    span {
                        display: none;
                    }

                    &::after {
                        opacity: 0;
                    }
                }
            }
        }
    }

    &-part {
        @include txt-16x;
        display: block;
        margin-bottom: 2.4rem;
        color: $color-primary;
        flex-shrink: 0;
    }

    &-nameGroup {
        display: flex;
        gap: 0.8rem;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &-name {
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 4.2rem;
        letter-spacing: -0.02em;
        flex-shrink: 0;
    }

    &-affiliation {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.8rem;
        color: $color-666;
    }

    &-cont {
        margin-top: 3.2rem;
        flex-shrink: 1;
        flex-basis: 100%;
        overflow: auto;

        p {
            @include txt-18x;
            color: $color-666;
            padding-right: 1.6rem;
            word-break: keep-all;
        }
    }

    &-nav {
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
    }

    &-prev {
        display: block;
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
        border: none;
        background: svgIcoPre('444') transparent;
        background-size: 100% 100%;

        &.swiper-button-disabled {
            background: svgIcoPre('ccc');
            background-size: 100% 100%;
        }
    }

    &-next {
        display: block;
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
        border: none;
        background: svgIcoNext('444') transparent;
        background-size: 100% 100%;

        &.swiper-button-disabled {
            background: svgIcoNext('ccc');
            background-size: 100% 100%;
        }
    }

    &-pagination {
        width: 8.3rem;
        text-align: center;
        @include txt-18x;
        color: $color-888;

        .swiper-pagination-current {
            color: $color-444;
            font-weight: 500;
        }
    }
}

.contestField{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primaryBg;

    padding: 6rem 8rem 6rem 1rem;

    &-area {
        margin-bottom: 10rem;
    }

    &-li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;
        padding-left: 7rem;
        flex-basis: 100%;
        flex-shrink: 1;
        border-right: 1px solid $color-default;

        &:last-of-type {
            border-right: none;
        }

        > i {
            display: block;
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    &-txt {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    &-cate {
        @include txt-16x;
        color: $color-primary;
    }

    &-name {
        @include c-nameBox;
    }
}

.contestWin {
    width: 100%;

    &-tit {
        display: block;
        @include txt-24x;
        color: $color-222;
        margin-bottom: 2.4rem;
    }

    &-img {
        width: 100%;
        img {
            width: 100%;
        }
    }

    &-txtArea {
        display: flex;
        gap: 24rem;
        align-items: flex-start;
        margin-top: 4rem;
    }

    &-name {
        @include c-nameBox;
        flex-shrink: 0;
    }

    &-cont {
        p {
            @include txt-18x;
            color: $color-444;
        }
    }
}

.serviceCont {
    &-li {
        width: 48.6rem;
        height: 44rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-nav {
        margin-top: 8rem;
        width: 100%;
        height: 4px;
        position: relative;
    }

    &-pagination {
        width: 100%;
        height: 100%;
        background-color: $color-default;

        .swiper-pagination-progressbar-fill{
            background-color: $color-accentNd;
        }
    }
}

.bookCont{
    display: flex;

    &-img {
        display: flex;
        align-items: center;
        flex-basis: 40.5%;
        flex-shrink: 1;
        background-color: #fff;
        
        img{
            width: 100%;
        }
    }

    &-txt {    
        display: flex;
        flex-direction: column;
        flex-basis: 50.5%;
        flex-shrink: 1;
        flex-grow: 1;
        background-color: #fff;
        padding: 6rem 8.3rem 9rem 10rem;
    }

    &-stit {
        display: block;
        @include txt-16x;
        margin-bottom: 1rem;
        color: $color-primary;

        flex-shrink: 0;
    }

    &-tit {
        display: block;
        @include txt-24x;

        flex-shrink: 0;
    }

    &-name {
        @include c-nameBox;
        margin: 3.2rem 0 6rem;

        flex-shrink: 0;
    }

    &-cont {
        flex-basis: 100%;
        flex-shrink: 1;
        overflow: auto;
        max-height: 30rem;
        padding-right: 1.6rem;

        p {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.4rem;

            color: $color-666;
        }
    }
}

.inqueryCont {
    &-top {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $color-666;

        &::before {
            content: '*';
            margin-right: 4px;
            color: #E02D3C;
        }
    }

    &-wrap {
        margin-top: 4rem;
    }

    &-inputGroup {
        display: flex;
        gap: 8rem;
        align-items: flex-start;
        margin-top: 6rem;

        &:first-of-type {
            margin-top: 0;
        }
    }

    &-inputBox {
        flex-basis: 100%;
        flex-shrink: 1;
    }

    &-nameBox {
        display: inline-flex;
        margin-bottom: 1.6rem;
        align-items: flex-end;

        &.important::after{
            content: '*';
            margin-left: 2px;
            @include txt-20x;
            color: #E02D3C;
        }
    }

    &-name {
        @include txt-20x;
        color: $color-444;   
    }

    &-eng {
        @include txt-16x; 
        color: $color-888;
        margin-left: 0.6rem;
    }

    &-btnWrap {
        margin-top: 8rem;
        text-align: center;
    }
}

.termsBox {
    border: 1px solid $color-medium;
    padding: 4rem 2.4rem;
    height: 42.8rem;
    overflow: hidden;

    &-cont {
        height: 100%;
        padding-right: 2.4rem;
        overflow: auto;

        &::-webkit-scrollbar-track { background-color: transparent !important; }
        &::-webkit-scrollbar-thumb { background-color: #CCCCCC !important; border-radius: 0; }
    }

    &-wrap {
    }

    &-check {
        margin-top: 2.4rem;
    }

    
}

.sponsorCont {
    margin: 14.2rem 0 8rem;
}

.responsibilityCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6.2rem 0;
    background-color: $color-primaryBg;

    &-box {
        display: flex;
        align-items: center;

        &:first-child::after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 3rem;
            margin: 0 8rem;
            background-color: $color-default;
        }
    }

    &-ico {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 1.6rem;

        i {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &-text {
        @include c-nameBox;
        color: $color-444;
    }
}

.subVideo {
    margin: 0 auto ;

    &-wrap {
        position:relative;
        padding-bottom:56.25%;
        height:0; 
        overflow:hidden;
    }

    iframe {
        position:absolute; 
        top:0; 
        left:0; 
    
        width: 100%;
        height:100%; 
    }
}

// 공통슬라이드
.cslide {
    &-li {
        // width: 61.2rem !important;
        height: 44.9rem !important;
    }

    &-img {
        width: 100%;
        height: 100%;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-nav {
        margin-top: 8rem;
        width: 100%;
        height: 4px;
        position: relative;
    }

    &-pagination {
        width: 100%;
        height: 100%;
        background-color: $color-default;

        .swiper-pagination-progressbar-fill{
            background-color: $color-accentNd;
        }
    }
}

@media screen and (max-width: 1200px) {
    .withPCont {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .locationCont-group {
        flex-direction: column;
        gap: 0.8rem;
    }

    .locationCont-dl .ddG {
        flex-direction: column;
        gap: 0.8rem;
    }
}

@media screen and (max-width: 992px) {
    .tf-delete.on {
        display: inline-flex;
    }
    
    .withPCont {
        grid-template-columns: 1fr 1fr;
    }

    .locationCont {
        flex-direction: column;
    }
    .locationCont-map {
        flex-basis: auto;
        height: 500px;
    }

    .locationCont-txt {
        transition-delay: 0s !important;
    }

    .awardCS-li {
        // flex-direction: column;
        width: 100%;
    }

    .awardCS-slide {
        width: 100%;
        height: 40rem;
    }


    .awardCS-li.swiper-slide.swiper-slide-active {
        width: 100% !important;
        height: 40rem;
    }

    .awardCS-nav {
        top: -3.2rem;
        transform: translateY(-100%);
    }

    .contestField {
        flex-direction: column;
        padding: 6rem 8rem ;
    }

    .contestField-li {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 3.5rem 0;
        border-right: none;
        border-bottom: 1px solid $color-default;
        position: relative;
        

        &:first-of-type {
            padding-top: 0;
        }
        &:last-of-type {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    .contestWin-txtArea {
        flex-direction: column;
    }

    .contestWin-contG {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .purposeCont-list {
        flex-direction: column;
    }
    
    .withPCont {
        grid-template-columns: 1fr;
    }

    .awardSlide-li {
        padding: 0;
    }

    .awardFix {
        flex-direction: column;
    }

    .bookCont {
        flex-direction: column;
    }

    .ciColor {
        flex-direction: column;
    }

    .inqueryCont-inputGroup {
        flex-direction: column;
    }
    .inqueryCont-inputBox {
        width: 100%;
    }
}

@media(hover: hover) and (pointer: fine) {
    .clist-imgLi:hover {
        background-color: $color-primaryBg;

        .btn-link {
            background: svgIcoArrowR('4B33ED');
            background-size: 100% 100%;
        }
    }
    .clist-txtLi:hover {
        background-color: $color-primaryBg;

        .txtLi-name {
            font-weight: 600;
        }

        .txtLi-ico .ico-arrowR{
            background: svgIcoArrowR('4B33ED');
            background-size: 100% 100%;
        }
    }

    .clist-txtLi .btn-down:hover {
        background: svgIcoDown('4B33ED'); 
        background-size:100% 100%;
    }

    .viewCont-prev:hover{
        color: $color-accent;
        &::before {
            background: svgIcoArrowL('4B33ED') 100%;
            background-repeat: no-repeat;
        }
    }
    .viewCont-next:hover{
        color: $color-accent;
        &::after {
            background: svgIcoArrowR('4B33ED') 100%;
            background-repeat: no-repeat;
        }
    }

    .downCont-linkWrap:hover {
        .btn-ti {
            border: 1px solid $color-accent;
        }
    }
}