
// button
.btn {  
    &-support {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        width: 11.3rem;
        height: 4rem;
        border: 1px solid $color-d9d9d9;
        border-radius: 4rem;
        background-color: $color-fff;
        font-weight: 600;
        font-size: 1.4rem;
        
        .ico-coin{
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
        }
    }
    &-menu {
        width: 4rem;
        height: 4rem;
        background-color: transparent;
        border: none;
        padding: 8px 7px;
        position: relative;

        span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $color-fff;
            position: absolute;
            transform-origin: center;
            left: calc(50% - 13px);

            &.line1 {
                top: 8px;
            }
            &.line2 {
                top: calc(50% - 1px);
            }
            &.line3 {
                bottom: 8px;
            }
        }
    }
    &-top {
        width: 8.8rem;
        height: 8.8rem;
        position: fixed;
        bottom: 4.1rem;
        left: calc(100% - 12.4rem);
        background-color: $color-fff;
        border: 1px solid $color-ddd;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 1.6rem;
        z-index: 10;
        i {
            width: 16px;
            height: 16px;
        }

        &.is-main{
            pointer-events: none;
            opacity: 0;
            @include transition(all, 0.3s, linear);

            &.show {
                opacity: 1;
                pointer-events: all;
            }
        } 
    }

    &-link {
        background: svgIcoArrowR('000');
        background-size: 100% 100%;
        border: none;
        width: 2.4rem;
        height: 2.4rem;
        @include transition(all, 0.3s, $cubicTxt);
    }

    &-down {
        width: 2.4rem;
        height: 2.4rem;
        border: none;
        background: svgIcoDown('444'); 
        background-size:100% 100%;
    }

    /* 스와이퍼 버튼 */ 
    &-pre {
        background: svgIcoPre('fff');
        background-size: 100% 100%;
        border: none;
        width: 2.4rem;
        height: 2.4rem;
        
        &-g {
            background: svgIcoPre('ccc');
            background-size: 100% 100%;
            border: none;
            width: 2.4rem;
            height: 2.4rem;

            &.w-40x {
                width: 4rem;
                height: 4rem;
            }
        }

        &-b {
            background: svgIcoPre('444');
            background-size: 100% 100%;
            border: none;
            width: 3.2rem;
            height: 3.2rem;

            &.w-40x {
                width: 4rem;
                height: 4rem;
            }

            &.swiper-button-disabled {
                background: svgIcoPre('ccc');
                background-size: 100% 100%;
            }
        }

        &.swiper-button-disabled {
            opacity: 0.4;
        }

        &.w-40x {
            width: 4rem;
            height: 4rem;
        }


    }
    &-next {
        background: svgIcoNext('fff');
        background-size: 100% 100%;
        border: none;
        width: 2.4rem;
        height: 2.4rem;
        
        &-g {
            background: svgIcoNext('ccc');
            background-size: 100% 100%;
            border: none;
            width: 2.4rem;
            height: 2.4rem;

            &.w-40x {
                width: 4rem;
                height: 4rem;
            }
        }

        &-b {
            background: svgIcoNext('444');
            background-size: 100% 100%;
            border: none;
            width: 3.2rem;
            height: 3.2rem;

            &.w-40x {
                width: 4rem;
                height: 4rem;
            }

            &.swiper-button-disabled {
                background: svgIcoNext('ccc');
                background-size: 100% 100%;
            }
        }


        &.swiper-button-disabled {
            opacity: 0.4;
        }

        &.w-40x {
            width: 4rem;
            height: 4rem;
        }
    }

    /* 공통 btn */
    @mixin btnBasic {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    &-ti {
        @include btnBasic;
        gap: 8px;
        padding: 0 4.8rem;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 5.6rem;
        border: 1px solid $color-medium;
        background-color: transparent;
        color: $color-fff;        
        @include transition(all, 0.4s, linear);

        .ico-arrow {
            display: inline-block;
            width: 16px;
            height: 16px;
            position: relative;
            overflow: hidden;

            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 1;
                top: 0;
                left: 0;
                background-image: svgIcoArrowR('fff');
                background-size: 100% 100%;
                @include transition(all, 0.3s, linear);

            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                top: 0;
                left: calc(-100% - 16px);
                background-image: svgIcoArrowR('4B33ED');
                background-size: 100% 100%;
                @include transition(all, 0.3s, linear);
            }
        }        
        .ico-down {
            display: inline-block;
            width: 16px;
            height: 16px;
            position: relative;
            overflow: hidden;

            &::after{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                opacity: 1;
                background-image: svgIcoDown('4B33ED');
                background-size: 100% 100%;
            }
        }  

        &.b {
            color: $color-222;          
            .ico-arrow {
                &::after{
                    background-image: svgIcoArrowR('222');
                }
                &::before{
                    background-image: svgIcoArrowR('fff');
                }
            }  
        }

        &.s {
            line-height: 4.8rem;
            padding: 0 2.4rem;
            color: $color-accent;    
        }
    } 
    &-t {
        @include btnBasic;
        padding: 0 4.8rem;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 5.6rem;
        color: $color-fff;   
        border: none;
        background-color: $color-accent;     
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;    
        @include transition(all, 0.3s, linear);

        &.s {
            color: $color-accent;   
            border: 1px solid $color-accent;
            background-color: transparent;
        }
    }
}

// 아이콘
.ico{
    &-plus {
        width: 13px;
        height: 13px;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-fff;
        }
        &::before {
            content: '';
            width: 2px;
            height: 100%;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-fff;
        }
    }
    &-link {
        background: svgIcoLink('ccc'); 
        background-size:100% 100%;
    } 
    &-linkTop {
        background: svgIcoLinkTop('000'); 
        background-size:100% 100%;
    }
    &-pin {
        background: svgIcoPin('6B7684'); 
        background-size:100% 100%;
    }
    &-phone {
        background: svgIcoPhone('6B7684'); 
        background-size:100% 100%;
    }
    &-coin {
        background: svgIcoCoin('444444', '00D4CD'); 
        background-size:100% 100%;
    }
    &-error500 {
        background: svgIcoError500(); 
        background-size:100% 100%;
    }
    &-wifi {
        background: svgIcoWifi(); 
        background-size:100% 100%;
    }
    &-error404 {
        background: svgIcoError404(); 
        background-size:100% 100%;
    }
    &-establish {
        background: svgIcoEstablish(); 
        background-size:100% 100%;
    }
    &-scholarshipStdt {
        background: svgIcoScholarshipStdt(); 
        background-size:100% 100%;
    }
    &-scholarship {
        background: svgIcoScholarship(); 
        background-size:100% 100%;
    }
    &-arrowL{ 
        background: svgIcoArrowL('000'); 
        background-size:100% 100%;
    }
    &-arrowR{ 
        background: svgIcoArrowR('000'); 
        background-size:100% 100%;
    }
    &-file{
        background: svgIcoFile('444'); background-size:100% 100%;
    }
    &-footLogo{
        background: svgFootlogo('B0B8C1'); background-size:100% 100%;
    }
    &-promote{
        background: svgIcoPromote(); background-size:100% 100%;
    }
    &-support{
        background: svgIcoSupport(); background-size:100% 100%;
    }
    &-education{
        background: svgIcoEducation(); background-size:100% 100%;
    }
    &-poetry{
        background: svgIcoPoetry(); background-size:100% 100%;
    }
    &-prose{
        background: svgIcoProse(); background-size:100% 100%;
    }
    &-fairyTale{
        background: svgIcoFairyTale(); background-size:100% 100%;
    }
}

// 메인섹션 스크롤 다운
.scrollDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 10;

    &-txt {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.8rem;
        letter-spacing: 0.2em;
        color: $color-fff;
    }

    &-line {
        width: 2px;
        height: 12rem;
        overflow: hidden;
        position: relative;
        background-color: rgba(255, 255, 255, 0.4);

        &::after {
            content: '';
            display: block;
            width: 2px;
            height: 40px;
            background-color: $color-fff;
            position: absolute;

            animation: 1.5s scrollDownAni infinite;

            @keyframes scrollDownAni {
                0% { top: 0; }
                100% { top: 100%; }
            }
        }
    }
}

.swiper {
    &-button-prev {
        &::after {
            display: none;
            width: 40px;
            height: 40px;
        }
    }
    &-button-next {
        &::after {
            display: none;
            width: 40px;
            height: 40px;
        }
    }
}

// 공통 인터렉션 
.btot {
    transform: translateY(30%);
    opacity: 0;
    @include transition(all, 1s, $cubicTxt);

    &-s {
        transform: translateY(30rem);
        opacity: 0;
        @include transition(all, 1s, $cubicTxt);
    }
}

.rtol {
    transform: translateX(30%);
    opacity: 0;
    @include transition(all, 1s, $cubicTxt);
}

.ltor {
    transform: translateX(-30%);
    opacity: 0;
    @include transition(all, 1s, $cubicTxt);
}

.ani {
    &.active {
        &.btot {
            transform: translateY(0%);
            opacity: 1;

            &-s {
                transform: translateY(0%);
                opacity: 1;
            }
        }
        &.rtol {
            transform: translateX(0%);
            opacity: 1;
        }
        &.ltor {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

.oneTime {
    &.active {
        &.btot {
            transform: translateY(0%);
            opacity: 1;

            &-s {
                transform: translateY(0%);
                opacity: 1;
            }
        }
        &.rtol {
            transform: translateX(0%);
            opacity: 1;
        }
        &.ltor {
            transform: translateX(0%);
            opacity: 1;
        }

        .btot {
            transform: translateY(0%);
            opacity: 1;

            &-s {
                transform: translateY(0%);
                opacity: 1;
            }
        }
        .rtol {
            transform: translateX(0%);
            opacity: 1;
        }
        .ltor {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

// 셀렉트 박스
.cSelect {
    display: inline-block;
    width: 100%;
    height: 6.4rem;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: -0.02em;
    line-height: 6.4rem;
    padding: 0 2.4rem;
    border: 1px solid $color-default !important;
    border-radius: 0;

    &::after {
        width: 2.4rem;
        height: 2.4rem;
        top: calc( 50% - 1.2rem );
        right: 2.4rem;
        background: svgIcoDropdown('444'); 
        background-size:100% 100%;
        transform-origin: center center;
        transform: rotate(0);
        border-bottom: none;
        border-right: none;
        margin-top: 0;
    }

    &.open {
        &::after {
            transform: rotate(180deg);
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: calc(100% + 2px);
        left: -1px;
        border: 1px solid $color-default !important;
        border-radius: 0;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        padding: 3rem 2.4rem;
        cursor: auto;
    }

    .option {
        background-color: transparent !important;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        min-height: auto;
        padding: 0;

        &.selected {
            font-weight: 400;
            color: $color-accent;
        }
    }
}

@media screen and (max-width: 992px) {
    .scrollDown-line{
        height: 10rem;
        &::after {
            height: 2.5rem;
        }
    }
}

@media(hover: hover) and (pointer: fine) {
    .btn-support:hover {
        color: $color-accent;
    }
    .btn-ti {
        &:hover {
            background-color: $color-fff;
            color: $color-accent;          
            .ico-arrow {
                &::after {
                    left: calc(100% + 16px);
                    opacity: 0;
                }
                &::before {
                    left: 0;
                    opacity: 1;
                }
            }  
        }
        &.b:hover {
            background-color: $color-accent;
            border-color: $color-accent;
            color: $color-fff;          
        }
        &.s:hover {
            background-color: transparent;
            border-color: $color-accent;
            color: $color-accent;          
        }
    }

    .btn-t:not(.s):hover {
        background-color: $color-primary;
    }
}