@import '_svg.scss';

#svg{
    width:1400px; margin:0 auto;
    .svg-logo{
        width:152px; height:24px; background: svgLogo('000', '1D2087'); background-size:100% 100%;
    }
    .svg-footLogo{
        width:246px; height:212px; background: svgFootlogo('fff'); background-size:100% 100%;
    }
    .svg02{
        width:236px; height:236px; background: svgCircle1('00b6e3'); background-size:100% 100%;
    }
    .ico-link{
        width:12px; height:12px; background: svgIcoLink('fff'); background-size:100% 100%;
    }
    .ico-linkTop{
        width:16px; height:16px; background: svgIcoLinkTop('000'); background-size:100% 100%;
    }
    .ico-arrowL{
        width:24px; height:24px; background: svgIcoArrowL('000'); background-size:100% 100%;
    }
    .ico-arrowR{
        width:24px; height:24px; background: svgIcoArrowR('000'); background-size:100% 100%;
    }
    .ico-file{
        width:24px; height:24px; background: svgIcoFile('444'); background-size:100% 100%;
    }
    .ico-down{
        width:24px; height:24px; background: svgIcoDown('444'); background-size:100% 100%;
    }
    .ico-dropDown{
        width:24px; height:24px; background: svgIcoDropdown('444'); background-size:100% 100%;
    }
    .ico-paginP{
        width:40px; height:40px; background: svgIcoPaginf('000'); background-size:24px 24px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .ico-paginPre{
        width:40px; height:40px; background: svgIcoPaginpre('000'); background-size:24px 24px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .ico-paginNext{
        width:40px; height:40px; background: svgIcoPaginnext('000'); background-size:24px 24px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .ico-paginLast{
        width:40px; height:40px; background: svgIcoPaginlast('000'); background-size:24px 24px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .ico-tfdelete{
        width:26px; height:26px; background: svgIcoTfDelte('909090'); background-size:100% 100%;
    }
    .ico-tfsearch{
        width:26px; height:26px; background: svgIcoTfSearch('000'); background-size:100% 100%;
    }
    .ico-next{
        width:40px; height:40px; background: svgIcoNext('444444'); background-size:100% 100%;
    }
    .ico-pre{
        width:40px; height:40px; background: svgIcoPre('444444'); background-size:100% 100%;
    }
    .ico-pin{
        width:20px; height:20px; background: svgIcoPin('fff'); background-size:100% 100%;
    }
    .ico-phone{
        width:20px; height:20px; background: svgIcoPhone('fff'); background-size:100% 100%;
    }
    .ico-coin{
        width:16px; height:16px; background: svgIcoCoin('444444', '00D4CD'); background-size:100% 100%;
    }
    .ico-establish{
        width:100px; height:100px; background: svgIcoEstablish(); background-size:100% 100%;
    }
    .ico-scholarshipStdt{
        width:100px; height:100px; background: svgIcoScholarshipStdt(); background-size:100% 100%;
    }
    .ico-scholarship{
        width:100px; height:100px; background: svgIcoScholarship(); background-size:100% 100%;
    }
    .ico-gallery{
        width:100px; height:100px; background: #fff svgIcoGallery() no-repeat center ; border-radius: 50%;
    }
    .ico-promote{
        width:72px; height:72px; background: svgIcoPromote(); background-size:100% 100%;
    }
    .ico-support{
        width:72px; height:72px; background: svgIcoSupport(); background-size:100% 100%;
    }
    .ico-education{
        width:72px; height:72px; background: svgIcoEducation(); background-size:100% 100%;
    }
  
}