// header
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 10rem;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s, height 0.5s;
    overflow: hidden;
    z-index: 999;
    transition: (opacity 0.4s ease, background-color 0.4s ease, transform 0.4s ease, height 0.4s ease);
    
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        top: calc(10rem - 1px);
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.12);
        opacity: 0;
    }

    &-inner{
        max-width: 120rem;
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-top {
        width: 7.9rem;
        height: 6.8rem;
        font-size: 0;
        margin-right: auto;
        .logo{
            display: block;
            width: 100%;
            height: 100%;
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background: svgLogo('fff'); 
                background-size:100% 100%;
            }
        }
    }

    &-btnArea {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 19.7rem;
        height: 10rem;
        gap: 2.4rem;
        margin-left: auto;
    }

    &.scrollU {
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(24px);

        &::after {
            opacity: 1;
            background-color: $color-default;
            @include transition(opacity, 0.4s);
        }

        /* color */ 
        .gnb .gnb-depth1-li > a {
            color: $color-000;
        }
        .btn-menu span {
            background-color: $color-444;
        }
    }

    &.scrollD {
        transform: translateY(-100%);

        &::after {
            opacity: 1;
            background-color: $color-default;
            @include transition(opacity, 0.4s);
        }
    }

    &.open {
        background-color: $color-gnbDim;
        backdrop-filter: blur(24px);

        &::after {
            opacity: 0.12;
            @include transition(opacity, 0.4s);
        }

        /* 컬러 */        
        .gnb .gnb-depth1-li > a {
            color: $color-fff !important;
        }
        .btn-menu span {
            background-color: $color-fff !important;
        }
    }

    &.is-full {
        height: 100vh;
        background-color: $color-gnbDim;
        backdrop-filter: blur(24px);

        &::after {
            opacity: 0 !important;
            @include transition(opacity, 0.4s);
        }

        .gnb {
            pointer-events: none;
        }

        /* 컬러 */
        .btn-menu span {
            background-color: $color-fff !important;
        } 
    }

    &.is-dark {
        /* 컬러 */ 
        .header-top .logo::after {
            background: svgLogo('000', '1D2087'); 
        }
        .gnb .gnb-depth1-li > a {
            color: $color-000;
        }
        .btn-menu span {
            background-color: $color-444;
        }
    }
}

// gnb
.gnb {
    margin: 0 auto;
    position: relative;

    &-line {
        position: absolute;
        width: 0px;
        height: 2px;
        background-color: $color-fff;
        top: calc(10rem - 2px);
        left: 0;
        transition: width 0.4s ease, left 0.4s;
    }

    &-depth1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 14rem;

        &-li{
            position: relative;

            > a{
                display: inline-block;
                height: 10rem;
                line-height: 10rem;
                font-weight: 600;
                font-size: 2.4rem;
                color: $color-fff;
            }
        }
    }
    &-depth2 {
        display: none;
        gap: 3rem;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        padding: 4rem 0 5rem;

        &-li > a{
            font-weight: 500;
            font-size: 2rem;
            color: $color-aaa;
            line-height: 3.4rem;
            position: relative;
            @include transition(all, 0.2s);

            &::after {
                content: '';
                display: block;
                bottom: -2px;
                height: 1px;
                width: 0%;
                background-color: $color-fff;
                position: absolute;
                @include transition(all, 0.2s);
            }

        }
    }
    &-depth3 {
        display: none;
        margin-top: 2.4rem;
        a {
            display: block;
            font-weight: 400;
            font-size: 1.6rem;
            color: $color-aaa;
            line-height: 1.9rem;
            margin-top: 1.6rem;
            text-wrap: nowrap;
            color: $color-aaa;
            @include transition(all, 0.2s);

            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 5px;
                height: 1px;
                background-color: $color-aaa;
                margin-right: 5px;
                @include transition(all, 0.2s);
            }
        }
    }
}

// nav 
.nav {
    display: none;
    width: 100%;
    max-width: 120rem;
    height: 100%;

    &-inner {
        padding: 4rem 0;
        display: flex;
        flex-basis: 26rem;
        justify-content: space-between;
    }

    &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // 후원하기
    &-supportTit {
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 5.2rem;
        letter-spacing: -0.04em;
        color: $color-fff;
    }
    &-supportLink {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: center;
        width: 12.2rem;
        gap: 10px;
        font-weight: 700;
        font-size: 1.6rem;
        color: $color-accentNd;
        margin-top: 5.8rem;

        &:visited {
            color: $color-accentNd;
        }

        .ico-arrowR {
            width: 24px;
            height: 24px;
            display: block;
            background: svgIcoArrowR('00D4CD'); 
            background-size:100% 100%;
        }
    }

    // 정책
    &-policy {
        li {
            margin-top: 2.4rem;
            &:first-of-type {
                margin-top: 0;
            }

            a {
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.68rem;
                color: $color-72758B;
            }
        }
    }

    // 네비메뉴
    &-depth {
        flex-basis: 79.2rem;
    }
    &-depth1 {
        &-li {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 8.8rem;
            padding: 4.8rem 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);

            > a {
                width: 12.5rem;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 4rem;
                color: $color-fff;
            }

            &:first-of-type {
                padding-top: 0;
            }
        }
    }
    &-depth2 {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 36% 42.5% 21.5%;
        row-gap: 3.2rem;

        &-li {
            > a {
                display: flex;;
                align-items: center;
                gap: 2px;
                font-weight: 500;
                font-size: 2rem;
                line-height: 4rem;
                color: $color-fff;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: svgIcoNext('fff'); 
                    background-size:100% 100%;
                    opacity: 0.5;
                }

                &.has-dept3::after {
                    display: none;
                }
            }
        }
    }

    &-depth3 {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
        margin-top: 16px;

        li {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: $color-A2A5BC;
        }
    }
}

// 푸터
.footer {
    display: flex;
    justify-content: center;
    background-color: $color-000;
    padding: 9.8rem 3rem 4.2rem;
    &-inner {
        display: flex;
        justify-content: space-between;
        max-width: 120rem;
        width: 100%;
    }

    // 로고
    &-logo {
        font-size: 0;
        width: 29.1rem;

        img{ 
            width: 100%;
        }
    }

    // 인포영역
    &-info {
        display: flex;
        align-items: flex-start;
        gap: 10rem;
    }

    // 링크영역
    &-link {
        display: flex;
        flex-direction: column;
        gap: 3.6rem;
    }
    &-linkCont{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        color: $color-fff;
        
        strong {
            font-weight: 700;
            font-size: 3rem;
            line-height: 3rem;
            letter-spacing: -0.01em;
            color: $color-fff;
        }
        ul {
            display: flex;
            li::before{
                content: '';
                display: inline-block;
                width: 1px;
                height: 1rem;
                background-color: $color-aaa;
                margin: 0 1.2rem;
            }

            li:first-of-type::before  {
                display: none;
            }
        }
        a, span {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $color-fff;
        }

        .hasIco {
            display: inline-flex;
            align-items: center;
            gap: 6px;

            i {
                display: inline-block; 
            }

            &:not(.s) i{                
                width: 20px;
                height: 20px;
            }

            &.s i{
                width: 12px;
                height: 12px;
            }
        }
    }

    // copyright
    &-copyright {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 2rem;
        margin-top: 6rem;
        color: $color-666;
    }

    // 패밀리 사이트
    &-familySite {
        position: relative;
    }
    &-familySelect {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid $color-d9d9d9;
        width: 20rem;
        padding-bottom: 1.6rem;
        cursor: pointer;
        font-weight: 700;
        font-size: 1.6rem;
        letter-spacing: -0.02em;
        color: $color-fff;
    }
    &-familyList {
        width: 100%;
        background-color: #333;
        display: none;
        position: absolute;
        top: 37px;
        z-index: 99;
    }
    &-familyLi {
        display: block;
        width: 100%;
        padding: 1.2rem;        
        font-size: 1.4rem;
        color: $color-fff;
    }

    // 협력영역
    &-partner {
        display: flex;
        justify-content: space-between;
        margin-top: 7rem;
    }
    &-partnerLi {
        height: 2.5rem;

        img {
            display: block;
            height: 100%;
        }
    }
}

// max-width 타입
.wrap-inner {
    &.typeA {
    max-width: 1200px;
    margin: 0 auto;
    }

    &.typeFull{
        width: 100%;
    }
}
// 서브 레이아웃
.sub{
    &-title {
        margin-top: 24rem;

        .wrap-inner{
            display: flex;
            flex-direction: column;
            gap: 8rem;
        }
    }

    &-tit{
        &-a{
            // 센터형식
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;

            h2 {
                @include txt-48x; 
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .footer-inner {
        flex-direction: column;
        gap: 6rem;
    }

    .footer-copyright {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 992px) {
    .footer{
        &-logo{
        width: 21.1rem;
        }
        &-info{
            flex-direction: column;
            gap: 4rem;
        }
        &-familyList {
            top: 0px;
            transform: translateY( calc(-100% - 10px));
        }
    }
}

@media screen and (max-width: 768px) {
    .footer{
        &-logo{
            max-width: 21.1rem;
            width: 80%;
        }
        &-link{
            gap: 2rem;
        }
        &-linkCont  {
            strong {
                font-size: 2.2rem;
                line-height: 2.2rem;
            }
            a, span {
                font-size: 1.4rem;
            } 
            ul {
                flex-direction: column;
                li::before {
                    display: none;
                }
            } 

            .hasIco{
                gap: 4px;

                &.s i {
                    width: 10px;
                    height: 10px;
                }
                &:not(.s) i {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        &-copyright{
            margin-top: 2rem;
        }

        &-partner {
            margin-top: 5rem;
        }
    }

    .btn{
        &-top{
            width: 5rem;
            height: 5rem;
            bottom: 1.5rem;
            right: 1.5rem;
            font-size: 1.4rem;

            i {
                width: 14px;
                height: 14px;
            }
        }
    }
}


/* 호버 */
@media(hover: hover) and (pointer: fine) {
    .gnb-depth2-li:hover > a {
        color: $color-fff;
        &::after {
            width: 100%;
        }
    }
    .gnb-depth3 a:hover {
        color: $color-fff;
        &::after {
            background-color: $color-fff;
        }
    }
}
