<div class="footer">
    <div class="footer-inner">
        <div class="footer-logo">
            <h2>LOGO <i class="ico-footLogo"></i></h2>
        </div>
        <div class="footer-left">
            <div class="footer-info">
                <div class="footer-link">
                    <div class="footer-linkCont">
                        <strong>Another site</strong>
                        <ul>
                            <li>
                                <a href="#none"><strong>개인정보보호정책</strong></a>       
                            </li>   
                            <li>           
                                <a href="#none">이메일무단수집거부</a>
                            </li>   
                            <!-- <li>
                                <a class="hasIco s">동아쏘시오홀딩스<i class="ico-link"></i></a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="footer-linkContG">
                        <div class="footer-linkCont">
                            <strong>Address</strong>
                            <span class="hasIco"><i class="ico-pin"></i>서울시 동대문구 천호대로 64</span>
                        </div>
                        <div class="footer-linkCont">
                            <strong>Contact</strong>
                            <a class="hasIco" href="tel:02-920-8114"><i class="ico-phone"></i>02-920-8114</a>     
                        </div>
                    </div>
                </div>
                <div class="footer-familySite">
                    <button class="footer-familySelect">
                        Family Site
                        <i class="ico-plus"></i>
                    </button>
                    <ul class="footer-familyList">
                        <li><a class="footer-familyLi">동아쏘시오홀딩스</a></li>
                        <li><a class="footer-familyLi">수석문화재단</a></li>
                        <li><a class="footer-familyLi">동아제약</a></li>
                    </ul>
                </div>
            </div>   
            <div class="footer-bottom">
                <ul class="footer-partner">
                    <li>
                        <a href="" class="footer-partnerLi">
                            <img src="../../static/images/partner01.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="" class="footer-partnerLi">
                            <img src="../../static/images/partner02.svg" alt="">
                        </a>
                    </li>
                </ul>
                <p class="footer-copyright">Copyright© SUSEOK CULTURAL FOUNDATION. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>

@@if (page_scr === true){
    <a class="btn-top @@class" data-js-scrbtn="notZero"><i class="ico-linkTop"></i>TOP</a>
}
@@if (page_scr === false){
    <a class="btn-top @@class" onclick="scrollMove(0, 300)"><i class="ico-linkTop"></i>TOP</a>
}
<script>
</script>